<template>
  <div>
    <div class="container" v-if="$store.state.auth">
      <Header />
      <h1>Update</h1>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">

        <b-form-group id="input-group-6" label="Id:" label-for="input-6">
          <b-form-input
            id="input-6"
            v-model="form.id"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-1" label="Item Name:" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="form.itemname"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Purchase Date:" label-for="input-2">
          <b-form-datepicker
              id="input-2"
              v-model="form.dt" 
              class="mb-2"
            required
          ></b-form-datepicker>
        </b-form-group>

        <b-form-group id="input-group-3" label="Quantity:" label-for="input-3">
          <b-form-input
            id="input-3"
            v-model="form.qty"
            required
          ></b-form-input>
        </b-form-group>
        
        <b-form-group id="input-group-4" label="Unit:" label-for="input-4">
          <b-form-select
            id="input-4"
            v-model="form.unit"
            :options="unit"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group id="input-group-5" label="Price:" label-for="input-5">
          <b-form-input
            id="input-5"
            v-model="form.price"
            required
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" @click="sendrequest()" variant="primary">Update</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </div>
    <p class="text-center" v-else>
      Please
      <NuxtLink to="/login">
        Login
      </NuxtLink>
    </p>
  </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined
import Header from '@/components/Header';
  export default {
    middleware: 'authenticated',
    components:{
    Header
  },
    data() {
      return {
        form: {
          id:'',
          itemname:'',
          token:'',
          dt: '',
          qty: '',
          unit: '',
          price:'',
          Result:'',
        },
        unit: [{ text: 'Select One', value: null }, 'Kg', 'g'],
        show: true
      }
    },
    methods: {
        async sendrequest() {
          if (Cookie.getJSON('auth')) {
            this.form.token = (Cookie.getJSON('auth')).accessToken
          }
          if(this.form.itemname != ''){
            if(this.form.token){
              this.form.Result = await this.$axios({
                method:'put',
                url:`http://localhost:3001/update`,
                data:{
                  id:this.form.id,
                  item_name: this.form.itemname,
                  purchase_date: this.form.dt,
                  qty: this.form.qty,
                  unit: this.form.unit,
                  price: this.form.price
                },
                headers:{'Authorization':"Bearer "+this.form.token}
              }).then(result=>{
                if(result.data.message == "Item updated"){
                  alert('Item Updated successfully')
                  }
                return result.data
              })
              .catch(err=>{
                if(err.message == "Request failed with status code 401"){
                    alert('Session Over Please Login Again')
                    Cookie.remove('auth')
                    this.$store.commit('setAuth', null)
                    return "Login Again"
                  }
                alert(err)
                return err.message
              })
            }
          }
        },
        onSubmit(evt) {
            evt.preventDefault()
        },
        onReset(evt) {
            evt.preventDefault()
            // Reset our form values
            this.form.tillon = ''
            this.form.dt = ''
            this.form.desc = ''
            this.form.records = ''
            this.form.id = ''
            this.form.Result = ''
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
            this.show = true
            })
        }
    }
  }
</script>