<template>
  <div class="container">
    <div class="d-flex justify-content-center">
        <h1>Login</h1>
    </div>
    
    <div class="d-flex justify-content-center">
      <b-form class="w-50" @submit="onSubmit" @reset="onReset" v-if="show">

        <b-form-group
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            required
            placeholder="Enter email"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Password:" label-for="input-2">
          <b-form-input
              id="input-2"
              type="password"
              v-model="form.password"
              required 
              class="mb-2"
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" @click="fetchSomething()" variant="primary">Login</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
        <b-button type="submit" variant="primary"><nuxt-link class="p-2 text-white nounderline" to="/signup">Signup</nuxt-link></b-button>
      </b-form>
    </div>
    
  </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined

  export default {
    data() {
      return {
        form: {
          email: '',
          password: '',
          Result:'',
        },
        show: true
      }
    },
    middleware: 'notAuthenticated',
    methods: {
        async fetchSomething() {
          if(this.form.email && this.form.password){
            this.form.Result = await this.$axios({
              method:'post',
              url:'http://localhost:3001/login',
              data:{
                email: this.form.email,
                password: this.form.password
              }
            })
            .then(result=> {
              const auth = {
                accessToken: result.data.token
              }
              this.$store.commit('setAuth', auth) // mutating to store for client rendering
              Cookie.set('auth', auth) // saving token in cookie for server rendering
              this.$router.push('/')
              return result
            })
            .catch(err=>{
              if(err.message == "Request failed with status code 401")
              {
                alert("Wrong Username or Password")
              }else{return err.message}
            })
            

            
          }
        },
        onSubmit(evt) {
            evt.preventDefault()
        },
        onReset(evt) {
            evt.preventDefault()
            // Reset our form values
            this.form.email = ''
            this.form.password = ''
            this.form.Result =''
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
            this.show = true
            })
        }
    }
  }
</script>

<style>
.nounderline {
  text-decoration: none !important
}
</style>