<template>
  <div>
    <div class="container" v-if="$store.state.auth">
      <Header />
      <h1>Read</h1>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">

        
        <b-form-group id="input-group-1" label="Table Name:" label-for="input-1">
          <b-form-select
            id="input-1"
            v-model="form.table"
            :options="table"
            required
          ></b-form-select>
        </b-form-group>

        <b-button type="submit" @click="sendrequest()" variant="primary">Read</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>

      <b-card class="mt-3" header="Form Data Result">
        <!-- <pre class="m-0">{{ form.Result.Table_data  }}</pre> -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Item Name</th>
              <th scope="col">Date</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(it,index ) in form.Result.Table_data" v-bind:key="index">
              <th scope="row">{{ it.id }}</th>
              <td>{{ it.item_name }}</td>
              <td v-if="form.table == 'stock'">{{ it.purchase_date }}</td>
              <td v-if="form.table == 'sales'">{{ it.sales_date }}</td>
              <td>{{ it.qty }}</td>
              <td>{{ it.unit }}</td>
              <td>{{ it.price }}</td>
              <td> <b-button @click="deleterequest(it.id,key)" variant="danger">Delete</b-button></td>
            </tr>
          </tbody>
        </table>
      </b-card>

    </div>
    <p class="text-center" v-else>
      Please
      <NuxtLink to="/login">
        Login
      </NuxtLink>
    </p>
  </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined
import Header from '@/components/Header';
  export default {
    middleware: 'authenticated',
    components:{
    Header
  },
    data() {
      return {
        form: {
          showbutton:true,
          count:0,
          incremental:1,
          token:'',
          table:'',
          Result:'',
        },
        table: [{ text: 'Select One', value: null }, 'stock', 'sales'],
        show: true
      }
    },
    methods: {
        async sendrequest() {
          if (Cookie.getJSON('auth')) {
            this.form.token = (Cookie.getJSON('auth')).accessToken
          }
          if(this.form.table != ''){
            if(this.form.token){
              this.form.Result = await this.$axios({
                method:'get',
                url:`http://localhost:3001/read?table=${this.form.table}`,
                headers:{'Authorization':"Bearer "+this.form.token}
              })
              .then(result=> result.data)
              .catch(err=>{
                if(err.message == "Request failed with status code 401"){
                  alert('Session Over Please Login Again')
                  Cookie.remove('auth')
                  this.$store.commit('setAuth', null)
                  return "Login Again"
                }
                alert(err)
                return err.message
              })
            }
          }
        },
        async deleterequest(id,key){
          if (Cookie.getJSON('auth')) {
            this.form.token = (Cookie.getJSON('auth')).accessToken
          }
          if(this.form.token){
            await this.$axios({
              method:'delete',
              url:`http://localhost:3001/delete?id=${id}&table=${this.form.table}`,
              headers:{'Authorization':"Bearer "+this.form.token}
            })
            .then(result=>{
              if(result.data.message == "Deleted Successfully"){
                alert('Item Deleted successfully')
                }
                this.form.Result.Table_data.splice(key, 1)
              return result.data
            })
            .catch(err=>{
              if(err.message == "Request failed with status code 401"){
                  alert('Session Over Please Login Again')
                  Cookie.remove('auth')
                  this.$store.commit('setAuth', null)
                  return "Login Again"
                }
              alert(err)
              return err.message
            }) 
          }
        },
        onSubmit(evt) {
            evt.preventDefault()
        },
        onReset(evt) {
            evt.preventDefault()
            // Reset our form values
            this.form.table = ''
            this.form.token=''
            this.form.showbutton=true
            this.form.count=0
            this.form.Result = ''
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
            this.show = true
            })
        }
    }
  }
</script>