<template>
  <div class="container">
    <div class="d-flex justify-content-center">
        <h1>Sign Up</h1>
    </div>
    <div class="d-flex justify-content-center">
      <b-form class="w-50" @submit="onSubmit" @reset="onReset" v-if="show">

        <b-form-group
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            required
            placeholder="Enter email"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Password:" label-for="input-2">
          <b-form-input
              id="input-2"
              type="password"
              v-model="form.password"
              required 
              class="mb-2"
          ></b-form-input>
        </b-form-group>
        
        <b-button type="submit" @click="fetchSomething()" variant="primary">Sign Up</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>

      </b-form>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        form: {
          email: '',
          password: '',
          Result:'',
        },
        show: true
      }
    },
    methods: {
        async fetchSomething() {
          if(this.form.email && this.form.password){
            this.form.Result = await this.$axios.$post('http://localhost:3001/signup',{
              email: this.form.email,
              password: this.form.password
            })
            .then(result=> {
              alert('Registered Successfully')
              this.$router.push('/login')
            })
            .catch(err => {
              if(err.message == "Request failed with status code 500"){
                alert("User Already exists")
              }
            })
          }
        },
        onSubmit(evt) {
            evt.preventDefault()
        },
        onReset(evt) {
            evt.preventDefault()
            // Reset our form values
            this.form.email = ''
            this.form.password = ''
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
            this.show = true
            })
        }
    }
  }
</script>