<template>
    <div>
        <b-nav tabs align="center">
            <nuxt-link class="p-2" to="/">Home</nuxt-link>
            <nuxt-link class="p-2" to="/profit">Profit</nuxt-link>
            <nuxt-link class="p-2" to="/instock">In Stock</nuxt-link>
            <nuxt-link class="p-2" to="/popularitem">Popular Items</nuxt-link>
            <nuxt-link class="p-2" to="/profitableitem">Profitable Items</nuxt-link>
            <nuxt-link class="p-2" to="/dailyprofit">Daily Profit</nuxt-link>            
            <nuxt-link class="p-2" to="/create">Create</nuxt-link>            
            <nuxt-link class="p-2" to="/read">Read</nuxt-link>            
            <nuxt-link class="p-2" to="/update">Update</nuxt-link>
            <button class="btn btn-danger" @click="logout">Logout</button>            
        </b-nav>
    </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined
export default {
    methods: {
        logout () {
        Cookie.remove('auth')
        this.$store.commit('setAuth', null)
        
        }
    }
}
</script>